.post-widget-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.widget-title-text {
    font-size: 20px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 3px double #444;
    margin-bottom: 1.5rem;
}

.post-widget-thumbnail-container {
    width: 5rem;
    height: auto;
    overflow: hidden;
    float: left;
    margin-right: 2rem;
    padding: 0.1rem;
    background-color: var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .post-widget-thumbnail-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .post-widget-wrapper{
    margin-bottom: 1rem;
  }